<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>List of all genres</title>
    <style type="text/css">
      body {
        padding: 50px;
      }

      label {
        display: inline-block;
        width: 100px;
      }

      input:read-only {
        background: lightgray;
      }

      .row {
        margin-top: 10px;
      }

      .genres,
      .genres td {
        border: 1px solid lightgray;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <a th:href="@{/books}" href="books.html">Back</a>
    </div>
    <hr />
    <h3>Genres:</h3>

    <table class="genres">
      <thead>
        <tr>
          <th>Name</th>
          <th id="genre-table-action-header" sec:authorize="hasRole('EDITOR')">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="genre : ${genres}">
          <td th:text="${genre.name}">Detective</td>
          <td id = "genre-table-action-cell" sec:authorize="hasRole('EDITOR')">
            <form
              id="deleted-genre-form"
              th:action="@{/genres(id=${genre.id})}"
              th:method="delete"
              action="genres.html"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Added genre -->
    <form
      id="added-genre-form"
      sec:authorize="hasRole('EDITOR')"
      th:action="@{/genres}"
      th:method="post"
      action="genres.html"
    >
      <h3>Add genre:</h3>

      <div class="row">
        <label for="genre-name">Name:</label>
        <input id="genre-name" name="name" type="text" value="" />
      </div>

      <div class="row">
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
