<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>List of all authors</title>
    <style type="text/css">
      body {
        padding: 50px;
      }

      label {
        display: inline-block;
        width: 100px;
      }

      input:read-only {
        background: lightgray;
      }

      .row {
        margin-top: 10px;
      }

      .persons,
      .persons td {
        border: 1px solid lightgray;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Authors:</h1>

    <table class="authors">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="author : ${authors}">
          <td th:text="${author.name}">Pushkin</td>
          <td>
            <form
              id="deleted-author-form"
              th:action="@{/author(id=${author.id})}"
              th:method="delete"
              action="author.html"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Added author -->
    <form
      id="added-author-form"
      th:action="@{/author}"
      th:method="post"
      action="author.html"
    >
      <h1>Add author:</h1>

      <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" value="" />
      </div>

      <div class="row">
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
