<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>List of all books</title>
    <style type="text/css">
      body {
        padding: 50px;
      }

      label {
        display: inline-block;
        width: 100px;
      }

      input:read-only {
        background: lightgray;
      }

      .row {
        margin-top: 10px;
      }

      .persons,
      .persons td {
        border: 1px solid lightgray;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Books:</h1>

    <table class="books">
      <thead>
        <tr>
          <th>Title</th>
          <th>Genre</th>
          <th>Authors</th>
          <th>Comments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="book : ${books}">
          <td th:text="${book.title}">book1</td>
          <td th:text="${book.genreName}">genre1</td>
          <td th:text="${book.authorsName}">name1, name2</td>
          <td>
            <a th:href="@{/comments(bookId=${book.id})}" href="comments.html">Comments</a>
          </td>
          <td>
            <form
              id="deleted-book-form"
              th:action="@{/book(id=${book.id})}"
              th:method="delete"
              action="book.html"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <!--  Added book -->
    <form
      id="added-book-form"
      th:action="@{/book}"
      th:method="post"
      action="book.html"
    >
      <h1>Add book:</h1>

      <div class="row">
        <label for="holder-input">Title:</label>
        <input id="holder-input" name="title" type="text" value="" />
      </div>
      <div class="row">
        <label for="holder-input">Genre:</label>
        <input id="holder-input" name="genreName" type="text" value="" />
      </div>
      <div class="row">
        <label for="holder-input">Authors (comma separate):</label>
        <input id="holder-input" name="authorsName" type="text" value="" />
      </div>

      <div class="row">
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
