<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>List of all authors</title>
    <style type="text/css">
      body {
        padding: 50px;
      }

      label {
        display: inline-block;
        width: 100px;
      }

      input:read-only {
        background: lightgray;
      }

      .row {
        margin-top: 10px;
      }

      .authors,
      .authors td {
        border: 1px solid lightgray;
        padding: 5px;
      }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="row">
      <a th:href="@{/books}" href="books.html">Back</a>
    </div>
    <hr />
    <h3>Authors:</h3>

    <table class="authors">
      <thead>
        <tr>
          <th>Name</th>
          <th>Books</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <script>
      $(function () {
        $.get("/api/authors").done(function (authors) {
          console.log($("body").html());
          authors.forEach(function (author) {
            $("tbody").append(`
                    <tr>
                      <td>${author.name}</td>
                    </tr>
                `);
          });
        });
      });
    </script>

    <!-- Added author -->
    <form
      id="added-author-form"
      th:action="@{/authors}"
      th:method="post"
      action="authors.html"
    >
      <h3>Add author:</h3>

      <div class="row">
        <label for="author-name">Name:</label>
        <input id="author-name" name="name" type="text" value="" />
      </div>

      <div class="row">
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
